:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --background-color: #2f303a;
  --white-text-color: #ffffff;
  --adrress-link-color: rgba(255, 255, 255, 0.6);
  --button-bgc: #f5f4fa;
  --logo-color-primary: #000000;
  --border-color: #eeeeee;
  --header-border-color: #ececec;
  --icon-color: #afb1b8;
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  margin: 0 auto;
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
  /* border: 1px solid black; */
  /* max-width: 1600px; */
}

.list {
  list-style: none;
}

.no-scroll {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.button {
  color: var(--title-text-color);
  background-color: var(--white-text-color);
  font-family: inherit;
  display: inline-block;
  border: transparent;
}
.button__primary {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  background-color: var(--accent-color);
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
  margin: 0 auto;
  border-radius: 4px;
  padding: 10px 24px;
  min-width: 200;
}
@media screen and (min-width: 1200px) {
  .button {
    padding: 10px 32px;
  }
}
.button__secondary {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  transition: color var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function), box-shadow var(--transition-duration) var(--transition-timing-function);
  color: var(--title-text-color);
  background-color: var(--button-bgc);
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 73px;
}
.button__secondary:hover, .button__secondary:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--white-text-color);
  background-color: var(--accent-color);
}

.backdrop__button {
  transition-property: fill;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  right: 8px;
  top: 8px;
  background: var(--white-text-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.backdrop__button:hover, .backdrop__button:focus {
  fill: var(--accent-color);
}

.button__submit {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  min-width: 200px;
  height: 50px;
  padding: 10px 52px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--white-text-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
}

.logo--accent {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  font-family: Raleway, sans-serif;
  color: var(--accent-color);
}

.logo--primary {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  font-family: Raleway, sans-serif;
  color: var(--logo-color-primary);
}

.logo--secondary {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  font-family: Raleway, sans-serif;
  color: var(--white-text-color);
}

@media screen and (min-width: 1200px) {
  .logo--accent {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    font-family: Raleway, sans-serif;
    color: var(--accent-color);
  }
  .logo--primary {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    font-family: Raleway, sans-serif;
    color: var(--logo-color-primary);
  }
  .logo--secondary {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    font-family: Raleway, sans-serif;
    color: var(--white-text-color);
  }
}
.header {
  position: relative;
  padding-top: 26px;
  padding-bottom: 26px;
  border-bottom: 1px solid var(--header-border-color);
}
.header__container {
  display: flex;
  align-items: center;
}

.navigation {
  display: none;
}
@media screen and (min-width: 480px) {
  .navigation {
    display: flex;
  }
}

.site-nav__list {
  display: flex;
  margin-left: 88px;
  gap: 50px;
}
@media screen and (min-width: 1200px) {
  .site-nav__list {
    margin-left: 92px;
  }
}

.site-nav__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  color: var(--title-text-color);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}
.site-nav__link--curent {
  position: relative;
  color: var(--accent-color);
}
.site-nav__link--curent::after {
  position: absolute;
  content: "";
  transform: translateY(34px);
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}
@media screen and (min-width: 1200px) {
  .site-nav__link--curent::after {
    transform: translateY(28px);
  }
}

.contacts {
  display: none;
}
@media screen and (min-width: 768px) {
  .contacts {
    display: inline;
    flex-wrap: wrap;
    margin-left: 90px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    margin-left: auto;
  }
}

.site-contact__list {
  display: flex;
  margin-left: auto;
  gap: 10px;
}
@media screen and (min-width: 768px) {
  .site-contact__list {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}
@media screen and (min-width: 1200px) {
  .site-contact__list {
    gap: 30px;
  }
}

.site-contact__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
}
@media screen and (min-width: 1200px) {
  .site-contact__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}
.site-contact__link:hover, .site-contact__link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.site-contact__icon {
  transition-property: fill;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  margin-right: 8px;
  fill: var(--icon-color);
}
@media screen and (min-width: 1200px) {
  .site-contact__icon {
    margin-right: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .site-contact__icon.iphone {
    width: 10px;
    height: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .site-contact__icon.imail {
    width: 16px;
    height: 12px;
  }
}
.site-contact__link:hover .site-contact__icon, .site-contact__link:focus .site-contact__icon {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.order {
  height: 400px;
  max-width: 480px;
  margin: 0 auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-mob.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--background-color);
  text-align: center;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .order {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-mob-2x.jpg);
  }
}
.order__container--paddings {
  padding-top: 118px;
  padding-bottom: 118px;
}
.order__title--color {
  font-weight: 900;
  font-size: 22px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 30px;
  max-width: 360px;
}
@media screen and (min-width: 480px) {
  .order__title--color {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
  }
}

@media screen and (min-width: 768px) {
  .order {
    max-width: 768px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-tab.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .order {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-tab-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .order {
    height: 600px;
    max-width: 1600px;
    margin: 0 auto;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .order {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .order__container--paddings {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
@media screen and (min-width: 1200px) {
  .order__title--color {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: var(--white-text-color);
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 30px;
    max-width: 696px;
  }
}
.features {
  padding-top: 61px;
  padding-bottom: 59px;
}
.features__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}
.features__text {
  font-weight: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.features__item {
  width: 100%;
}
.features__name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.12;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  color: var(--title-text-color);
  text-transform: uppercase;
  text-align: center;
}
.features__icon-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 100%;
  margin-bottom: 30px;
  background: var(--button-bgc);
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .features {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .features__item {
    width: calc((100% - 30px) / 2);
  }
  .features__item:nth-child(-n+2) {
    margin-bottom: 27px;
  }
  .features__name {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .features__item {
    width: calc((100% - 90px) / 4);
  }
  .features__name {
    text-align: left;
  }
}
.jobs {
  display: none;
  padding-bottom: 94px;
}
.jobs__list {
  display: flex;
  justify-content: space-between;
}
.jobs__item {
  position: relative;
  display: flex;
}
.jobs__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  height: 70px;
  width: 370px;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  color: var(--white-text-color);
}
.jobs__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .jobs {
    display: initial;
  }
}
.hero {
  background-color: var(--button-bgc);
  padding-bottom: 60px;
  padding-top: 60px;
}
.hero__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-align: center;
  margin-bottom: 30px;
}
.hero__item {
  width: 100%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.hero__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-align: center;
  margin-bottom: 10px;
}
.hero__text {
  font-weight: none;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
  text-align: center;
}
.hero__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}
.hero__container {
  padding-top: 30px;
  padding-bottom: 24px;
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white-text-color);
}

.social-list {
  width: 206px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.social-list__icon-bg {
  transition: fill var(--transition-duration) var(--transition-timing-function);
  transition: background var(--transition-duration) var(--transition-timing-function);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  fill: var(--icon-color);
  background: rgba(255, 255, 255, 0.1);
}
.social-list__icon-bg:hover, .social-list__icon-bg:focus {
  background: var(--accent-color);
  fill: var(--white-text-color);
}

.social-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .hero__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-color: var(--button-bgc);
    padding-bottom: 94px;
    padding-top: 94px;
  }
  .hero__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    text-align: center;
    margin-bottom: 50px;
  }
  .hero__item {
    width: calc((100% - 90px) / 4);
  }
  .hero__container {
    padding-bottom: 30px;
  }
}
.clients {
  padding-bottom: 60px;
  padding-top: 60px;
}
.clients__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
}
.clients__icon {
  fill: var(--icon-color);
  transition-property: fill;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}
.clients__icon-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
}
.clients__icon-bg:hover, .clients__icon-bg:hover .clients__icon, .clients__icon-bg:focus, .clients__icon-bg:focus .clients__icon {
  border-color: var(--accent-color);
  fill: var(--accent-color);
  cursor: pointer;
}
.clients__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 30px;
}
.clients__item {
  width: calc((100% - 30px) / 2);
}

@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-bottom: 94px;
    padding-top: 94px;
  }
  .clients__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.67;
    letter-spacing: 0.03em;
  }
  .clients__list {
    margin-top: 50px;
  }
  .clients__item {
    width: calc((100% - 150px) / 6);
  }
}
.footer {
  display: block;
  background-color: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer__logo-address {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.footer__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.address {
  display: flex;
  justify-content: center;
  width: 100%;
}

.address__list {
  font-weight: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  font-style: normal;
  margin-top: 20px;
}

.address__item {
  display: flex;
  width: 100%;
  margin-top: 8px;
}

.address__gps {
  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  display: flex;
  justify-content: center;
  width: 100%;
  color: var(--white-text-color);
}

.address__link {
  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  display: flex;
  justify-content: center;
  width: 100%;
  color: var(--adrress-link-color);
}
.address__link:hover, .address__link:focus {
  color: var(--accent-color);
}

.join {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 60px;
}
.join__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  display: flex;
  justify-content: center;
  width: 100%;
  text-transform: uppercase;
  color: var(--white-text-color);
}
.join__list {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.join .social-list__icon {
  fill: var(--white-text-color);
}

.subscribe {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 60px;
  width: 100%;
}
.subscribe label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
}
.subscribe__email {
  font-weight: none;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  bottom: 0;
  left: 0;
  min-width: 100%;
  height: 50px;
  padding-left: 16px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
}
.subscribe__email::placeholder {
  font-weight: none;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  color: var(--white-text-color);
  background-color: var(--accent-color);
  min-width: 200px;
  height: 50px;
  padding: 10px 28px;
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.tg-svg {
  fill: var(--white-text-color);
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .footer__tab {
    display: flex;
    flex-wrap: nowrap;
    gap: 165px;
  }
  .footer__logo-address {
    margin-left: 61px;
  }
  .join {
    display: block;
    margin-top: 5px;
    margin-right: 74px;
  }
  .join__list {
    margin-top: 20px;
  }
  .subscribe {
    max-width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
  }
  .footer__tab {
    gap: 0;
  }
  .footer__logo {
    display: block;
  }
  .footer__logo-address {
    display: block;
    margin-left: 0;
    width: 231px;
  }
  .address__gps,
.address__link {
    display: block;
  }
  .join {
    width: auto;
    margin-left: 70px;
    margin-right: 0;
    margin-top: 12px;
  }
  .join__title {
    display: block;
  }
  .subscribe {
    margin-top: 12px;
    margin-right: 0;
    margin-left: 93px;
    position: relative;
    max-width: 570px;
    height: 86px;
  }
  .subscribe label {
    position: absolute;
    top: 0;
    left: 0;
  }
  .subscribe__email {
    position: absolute;
    left: 0;
    bottom: 0;
    min-width: 0;
    width: 358px;
  }
  .subscribe__button {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
.filter {
  padding-top: 60px;
  padding-bottom: 60px;
}

.filter-foto__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-bottom: 4px;
}

.filter-foto__text {
  font-weight: none;
  font-size: 16px;
  line-height: 1.89;
  letter-spacing: 0.03em;
}

.filter__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 8px;
  margin-bottom: 50px;
}

.filter-foto__list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.filter-foto__item {
  transition-property: box-shadow;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  width: 100%;
  cursor: pointer;
}
.filter-foto__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.filter-foto__thumb {
  position: relative;
  overflow: hidden;
}

.filter-foto__overlay {
  transition-property: transform;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  font-weight: none;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  font-style: normal;
  color: var(--white-text-color);
  transform: translateY(100%);
}
.filter-foto__item:hover .filter-foto__overlay {
  transform: translateY(0px);
}

.filter-foto__container {
  padding: 20px 24px;
  width: 100%;
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

@media screen and (max-width: 393px) {
  .filter__item:nth-child(n+3) {
    margin-top: 15px;
  }
}
@media screen and (min-width: 768px) {
  .filter-foto__item {
    width: calc((100% - 30px) / 2);
  }
  .filter__list {
    justify-content: center;
  }
  .first {
    padding-bottom: 56px;
  }
}
@media screen and (min-width: 1200px) {
  .filter {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .filter-foto__item {
    width: calc((100% - 60px) / 3);
  }
  .filter__list {
    justify-content: center;
    flex-wrap: nowrap;
  }
  .first {
    padding-bottom: 20px;
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: visibility var(--transition-duration) var(--transition-timing-function), opacity var(--transition-duration) var(--transition-timing-function);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  display: inline-block;
  justify-content: right;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  min-height: 609px;
  padding: 40px;
  background-color: var(--white-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 12px;
}

.modal__field {
  display: flex;
  flex-direction: column;
}
.modal__field.name, .modal__field.tel, .modal__field.email {
  margin-bottom: 10px;
}
.modal__field.comment {
  margin-bottom: 20px;
}
.modal__field label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.modal__input {
  transition-property: border;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}
.modal__input:focus {
  border-color: var(--accent-color);
}

.modal__wrap {
  position: relative;
}

.modal__icon {
  transition-property: fill;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--title-text-color);
}
.modal__input:focus + .modal__icon {
  fill: var(--accent-color);
}

.modal__textarea {
  transition-property: border;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  height: 120px;
  width: 100%;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  resize: none;
}
.modal__textarea:focus {
  border-color: var(--accent-color);
}
.modal__textarea::placeholder {
  font-weight: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox-block {
  margin-bottom: 30px;
}
.checkbox-block__agreement {
  font-weight: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  display: inline-block;
  margin-left: 7px;
  text-decoration-line: underline;
  color: var(--accent-color);
}
.checkbox-block__text {
  font-weight: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-text-color);
}

.checkbox-block__text .checkbox-block__svg {
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox-block__icon {
  fill: transparent;
}

.checkbox-block__input:checked + .checkbox-block__text span {
  background-color: var(--accent-color);
  border: transparent;
}

.checkbox-block__input:focus + .checkbox-block__text span {
  border-color: var(--accent-color);
}

.checkbox-block__input:checked + .checkbox-block__text svg {
  fill: var(--white-text-color);
}

@media screen and (max-width: 479px) {
  .modal {
    width: calc(100% - 30px);
    min-height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
  .modal__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
  }
  .checkbox-block__agreement {
    font-weight: none;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
  .checkbox-block__text {
    font-weight: none;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}
.mob-container {
  padding-left: 32px;
  padding-right: 32px;
}

.menu-button-open,
.menu-button-close {
  padding: 0;
  border: none;
  background-color: transparent;
  margin-left: auto;
}
@media screen and (min-width: 480px) {
  .menu-button-open,
.menu-button-close {
    display: none;
  }
}

.menu-button-close {
  position: absolute;
  display: block;
  top: 10px;
  right: 23px;
  transition-property: fill;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}
.menu-button-close:hover, .menu-button-close:focus {
  fill: var(--accent-color);
}

.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 48px;
  padding-bottom: 48px;
  z-index: 1;
  background-color: var(--white-text-color);
  height: 100vh;
  width: 100vw;
}
@media screen and (min-width: 480px) {
  .mob-menu {
    display: none;
  }
}
.mob-menu > .mob-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow: auto;
}
.mob-menu.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.mob-menu__item:not(:last-child) {
  margin-bottom: 32px;
}
.mob-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition: color var(--transition-duration) var(--transition-timing-function);
  transition: transform var(--transition-duration) var(--transition-timing-function);
}
.mob-menu__link:hover, .mob-menu__link:focus {
  color: var(--accent-color);
  padding-left: 10px;
}

.mob-connect {
  margin-bottom: 64px;
}
.mob-connect__item:not(:last-child) {
  margin-bottom: 32px;
}
.mob-connect__link--phone {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
@media screen and (max-width: 360px) {
  .mob-connect__link--phone {
    font-weight: 500;
    font-size: 29px;
    line-height: 1.18;
    letter-spacing: 0.02em;
  }
}
.mob-connect__link--email {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.mob-links__list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.mob-links__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}

.mob-links__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
@media screen and (max-width: 360px) {
  .mob-links__link {
    font-weight: 500;
    font-size: 11px;
    line-height: 1.22;
    letter-spacing: 0.02em;
  }
}/*# sourceMappingURL=main.css.map */