.logo--accent {
  @include font(700, 26px, 1.19, 0.03em);
  font-family: Raleway, sans-serif;
  color: var(--accent-color);
}

.logo--primary {
  @include font(700, 26px, 1.19, 0.03em);
  font-family: Raleway, sans-serif;
  color: var(--logo-color-primary);
}

.logo--secondary {
  @include font(700, 26px, 1.19, 0.03em);
  font-family: Raleway, sans-serif;
  color: var(--white-text-color);
}
