:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --background-color: #2f303a;
  --white-text-color: #ffffff;
  --adrress-link-color: rgba(255, 255, 255, 0.6);
  --button-bgc: #f5f4fa;
  --logo-color-primary: #000000;
  --border-color: #eeeeee;
  --header-border-color: #ececec;
  --icon-color: #afb1b8;
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
