.footer {
  display: block;
  background-color: var(--background-color);

  padding-top: 60px;
  padding-bottom: 60px;

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__logo-address {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    width: 100%;
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}

.address {
  display: flex;
  justify-content: center;
  width: 100%;
}

.address__list {
  @include font(none, 14px, 1.71, 0.03em);

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: 100%;

  font-style: normal;

  margin-top: 20px;
}

.address__item {
  display: flex;

  width: 100%;

  margin-top: 8px;
}

.address__gps {
  @include transition(color);

  display: flex;
  justify-content: center;

  width: 100%;
  color: var(--white-text-color);
}

.address__link {
  @include transition(color);

  display: flex;
  justify-content: center;

  width: 100%;

  color: var(--adrress-link-color);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.join {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 60px;

  &__title {
    @include font(700, 14px, 1.14, 0.03em);

    display: flex;
    justify-content: center;

    width: 100%;

    text-transform: uppercase;

    color: var(--white-text-color);
  }

  &__list {
    display: flex;

    gap: 10px;
    margin-top: 20px;
  }

  & .social-list__icon {
    fill: var(--white-text-color);
  }
}

.subscribe {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  margin-top: 60px;

  width: 100%;

  & label {
    @include font(700, 14px, 1.14, 0.03em);

    text-transform: uppercase;

    color: var(--white-text-color);
  }

  &__email {
    @include font(none, 16px, 1.25, 0.03em);

    bottom: 0;
    left: 0;

    min-width: 100%;
    height: 50px;

    padding-left: 16px;
    margin-top: 20px;

    display: flex;
    align-items: center;

    color: rgba(255, 255, 255, 0.6);

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;

    &::placeholder {
      @include font(none, 16px, 1.25, 0.03em);

      display: flex;
      align-items: center;

      color: rgba(255, 255, 255, 0.6);
    }
  }

  &__button {
    @include font(700, 16px, 1.88, 0.06em);

    display: flex;
    align-items: center;
    text-align: center;

    margin-top: 20px;

    color: var(--white-text-color);
    background-color: var(--accent-color);

    min-width: 200px;
    height: 50px;

    padding: 10px 28px;

    border-color: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }
}

.tg-svg {
  fill: var(--white-text-color);
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .footer__tab {
    display: flex;
    flex-wrap: nowrap;
    gap: 165px;
  }

  .footer__logo-address {
    margin-left: 61px;
  }

  .join {
    display: block;
    margin-top: 5px;
    margin-right: 74px;
  }
  .join__list {
    margin-top: 20px;
  }

  .subscribe {
    max-width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
  }
  .footer__tab {
    gap: 0;
  }
  .footer__logo {
    display: block;
  }
  .footer__logo-address {
    display: block;
    margin-left: 0;
    width: 231px;
  }
  .address__gps,
  .address__link {
    display: block;
  }
  .join {
    width: auto;
    margin-left: 70px;
    margin-right: 0;
    margin-top: 12px;
  }
  .join__title {
    display: block;
  }
  .subscribe {
    margin-top: 12px;
    margin-right: 0;
    margin-left: 93px;
    position: relative;
    max-width: 570px;
    height: 86px;
  }
  .subscribe label {
    position: absolute;
    top: 0;
    left: 0;
  }
  .subscribe__email {
    position: absolute;
    left: 0;
    bottom: 0;
    min-width: 0;
    width: 358px;
  }
  .subscribe__button {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
