.header {
  position: relative;
  padding-top: 26px;
  padding-bottom: 26px;

  border-bottom: 1px solid var(--header-border-color);

  &__container {
    display: flex;
    align-items: center;
  }
}
