.order {
  height: 600px;
  max-width: 1600px;

  margin: 0 auto;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--background-color);

  text-align: center;

  &__container--paddings {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  &__title--color {
    @include font(900, 44px, 1.36, 0.06em);

    color: var(--white-text-color);

    text-align: center;
    text-transform: uppercase;

    display: inline-block;
    margin-bottom: 30px;
    max-width: 696px;
  }
}
