.filter {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter-foto__title {
  @include font(700, 18px, 2, 0.06em);

  color: var(--title-text-color);

  margin-bottom: 4px;
}

.filter-foto__text {
  @include font(none, 16px, 1.89, 0.03em);
}

.filter__item + .filter__item {
  margin-left: 8px;
}

.filter__list {
  display: flex;
  justify-content: center;

  margin-bottom: 50px;
}

.filter-foto__list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.filter-foto__item {
  @include transition(box-shadow);

  width: 370px;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:nth-child(n + 4) {
    margin-top: 30px;
  }
}

.filter-foto__thumb {
  position: relative;
  overflow: hidden;
}

.filter-foto__overlay {
  @include transition(transform);
  @include font(none, 18px, 1.56, 0.03em);

  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;

  padding: 63px 24px;

  background: rgba(33, 150, 243, 0.9);

  font-style: normal;

  color: var(--white-text-color);

  transform: translateY(100%);

  .filter-foto__item:hover & {
    transform: translateY(0px);
  }
}

.filter-foto__container {
  padding: 20px 24px;

  width: 370px;

  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}
